@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-hero {
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("../public/bg.svg");
  background-position: center;
}


.col-blue {
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(344%) hue-rotate(232deg) brightness(114%) contrast(92%);
  ;
}



.mouse {
  opacity: 1;
  animation: wheel 1.5s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}